@import '../../styles/common.styl'

.PromoItem {
	& {
		width 100%
		background-position 50% 50%
		background-size cover
		color #FFF
		padding-top 115px
		padding-bottom 50px
		@media $phone {
			padding 32px 0
		}
	}
	&__inner {
		container();
		@media $phone {
			padding 0 16px
		}
	}
	&__content {
		width 560px
		@media $phone {
			width auto
		}
	}
	&__title {
		font-weight bold
		margin-bottom 10px
		color #EFC825
		font-size 67px
		line-height 1.2
		@media $phone {
			font-size 32px
		}
	}
	&__text {
		margin-bottom 50px
		font-size 30px
		width 300px
		line-height 1.2
		@media $phone {
			font-size 20px
		}
	}
}