.Home {
	& {
	}
	&__title {
		grid-width(8)
		grid-width(1, margin-bottom)
		display block
		float left
		font-size 76.8px
		font-weight $bold
		line-height (72/76.8)
		&:last-child {
			margin-bottom 0
		}
	}
	&__scroll {
		grid-width(2, padding-left )
	}
	&__lab {
		margin-bottom 75px
	}
}
