{
	"presets": [
		[
			"env",
			{
				"targets": {
					"node": "8.6"
				}
			}
		],
		"react"
	],
	"plugins": [
		"module:fast-async",
		"syntax-dynamic-import",
		"transform-flow-strip-types",
		"transform-object-rest-spread"
	],
	"ignore": ["node_modules", "build"]
}
