@import '../../styles/common.styl'
$fontSize = 18px
$paddingTop = $fontSize*0.9
.Input {
	& {
		position relative
		display inline-block
		line-height 1.2
		font-size 16px
		box-sizing border-box
	}
	&__field {
		border-radius: 4px
		padding 4px 8px
		font-size 16px
		width 100%
		box-sizing border-box
		border 1px solid #676766
	}
	&__input {
		border 0
		outline: none
		padding 0
		background none
	}
	&__icon {
		margin-right 8px
	}
	&__placeholder {
		position absolute
		display block
		bottom 2px
		left 8px
		transform translateZ(0)
		transform-origin 0 0
		pointer-events none
		transition transform $duration
		will-change: transform
		line-height 1
	}
	&_focused, &_value {
		.Input__placeholder {
			transform scale(0.75) translateY(-($fontSize*1.2)) translateZ(0)
			faster()
		}
	}
	&_error {
		.Input__field {
			border-color tomato
		}
	}
	&__label {
		font-size 12px
		display block
	}
	&__error {
		// position absolute
		// top 100%
		// left 0
		font-size 12px
		color $redColor
		// margin-top 2px
	}
}