.CategoryItem {
	width 50%
	float left
	box-sizing border-box
	padding 20px
	// height 737px
	color #FFF
	font-size 40px
	line-height 1
	grid-width(7.4, height)
	&_sm {
		width 33.33%
		// height 468px
		grid-width(4.6, height)
	}
	@media $verticalTablet {
		font-size 32px
		padding 16px
	}
	&__inner {
		background-position 50% 50%
		background-size cover
		padding 32px
		background-repeat no-repeat
		height 100%
		box-sizing border-box
		display flex
		align-items: flex-start
		@media $verticalTablet {
			padding 16px
		}
	}
	&_left-bottom {
		.CategoryItem__inner {
			align-items flex-end
		}
	}
	&_right-top {
		.CategoryItem__inner {
			justify-content flex-end
			text-align right
		}
	}
	&_right-bottom {
		.CategoryItem__inner {
			align-items flex-end
			justify-content flex-end
		}
	}
	&__title {
		background-color rgba(0,0,0,0.2)
		padding 12px
		margin-left -12px
		margin-top -12px
	}
	@media $phone {
		float none
		width 100%
		height 180px
		min-height: 33vw
		padding 0
		display block
	}
}