.Header {
	& {
		position absolute
		top 0
		left 0
		width 100%
		padding 40px 64px
		box-sizing border-box
	}
	&__inner {
		display flex
		position relative
		align-items center
	}
	&__logo {
		display inline-block
		& a {
			height 28px
		}
	}
	&__content {
		display inline-block
		float left
		flex 1
	}
}