.HeaderInfo {
	color #FFF
	font-size 12px

	&__brands {
		display flex
		align-items center
		@media $tablet {
			display none
		}
		&__item {
			margin-right 10px
			color #4e4e4d
			&:last-child {
				margin-right 0
			}
		}
		&__icon {
			vertical-align middle
		}
	}
	&__container {
		container()
		height 40px
		padding 10px 0
		display flex
		justify-content space-between
		background #000
		box-sizing border-box
		@media $verticalTablet {
			width 100%
			position fixed
			z-index 10
			padding 4px 16px
			padding-right 50px
		}
		@media $phone {
			padding-right 0
		}
	}
	&__contacts {
		display flex
		justify-content space-between

		&__item {
			margin-right 25px
			font-size 14px
			color #FFFFFF
			line-height 1
			font-weight $normal
			&:last-child {
				margin-right 0
			}
		}
		@media $verticalTablet {
			flex-direction column
		}
		@media $phone {
			display none
		}
	}
	&__nav {
		display flex
		justify-content space-between
		&__item {
			padding 0 10px
			position relative
			line-height 1
			&:after {
				content '|'
				position absolute
				right 0
				top 0
			}
			&:last-child {
				&:after {
					display none
				}
			}
		}
		@media $verticalTablet {
			.HeaderInfo__contacts__item {
				display flex
				flex-direction column
				margin-right 10px
			}
		}
		@media $phone {
			flex-direction column
			.HeaderInfo__contacts__item {
				display flex
				flex-direction row
				justify-content space-between
				margin-right 10px
				& span:first-child {
					display none
				}
			}
		}
	}
	&__icon {
		padding-right 5px
		display inline-block
		line-height 1
		margin-bottom -2px
		svg {
		}
	}
	&__worktime {
		span {
			position relative
			display inline-block
		}
		&__start {
			&:after {
					content: '\2014'
					position relative
					display inline-block
					// width 35px
					// height 1px
					// border-top: 0.6px solid #ffffff
					vertical-align top
					margin 0 3px
				}
		}
	}
}