.Footer {
	& {
		background-color #4E4E4D
		padding 16px 0
		color #F5F5F5;
	}
	&__container {
		grid-width()
		margin 0 auto
		display flex
		justify-content space-between
		align-items center
		@media $phone {
			padding 0 24px
			flex-direction column
		}
	}
	&__column {
		display block
		&:first-child {
			grid-width(2.5)
		}
		&:nth-child(2){
			flex 1
		}
		&:last-child {
			grid-width(3.2)
		}
		a {
			margin-right 16px
			&:last-child {
				margin-right 0
			}
		}
	}
	&__phone {
		font-size 20px
		display flex
		justify-content space-between
		// margin-bottom 24px
		a {
			color #FFFFFF
		}
		div {
			&:last-child {
				margin-bottom 10px
			}
		}
	}
	&__logo {
		// margin-bottom 24px
		&__img {
			fill: #F5F5F5;
			width 100px;
			display block
		}
	}
	&__address a{
		color #ffffff
	}
	&__social {
		// margin-bottom 32px
		text-align right
		&__title {
			margin-bottom 10px
			font-size 20px
		}
		&__icons {
		}
		&__icon {
			display inline-block
			margin-right 16px
			&:last-child {
				margin-right 0
			}
			svg {
				fill #F5F5F5
			}
		}
	}
	&__buyer {
		&__title {
			font-size 20px
			margin-bottom 20px
			text-transform uppercase
		}
	}
	&__links {
		display flex
		&__column {
			width 50%
			padding-right 40px
			&:last-child {
				padding-right 0
			}
			@media $phone {
				padding-right 16px
			}
		}
	}
	&__link {

	}
	&__feedback {
		&__title {
			font-size 20px
			margin-bottom 16px
		}
		&__field {
			width 250px !important
			height 36px !important
			border-radius 0 !important
			border 0 !important
			background #F5F5F5
			span {
				font-size 18px
				bottom 7px
			}
		}
		&__input {
			display flex
			color #676766
			margin-bottom 16px
		}
		&__button {
			border 0
			border-left 1px solid #4E4E4D
			height 36px
			background #F5F5F5
		}
		&__text {
			font-size 15px
			margin-bottom 16px
		}
		&__note {
			font-size 20px
			text-transform uppercase
		}
	}
}