@import '../../styles/common.styl'

.LogoLine {
	background #EBECEC
	color #000
	@media $verticalTablet {
		padding-top 37px
	}
	&__login {
		display inline-flex
		margin-right 24px
		cursor pointer
		a {
			margin-right 8px
			font-weight bold
			font-size 14px
		}
		.Icon {
			cursor pointer
		}
		@media $phone {
			order: 3
			text-align right
			margin-bottom 16px
			margin-right 0
			padding-left 50px
		}
	}
	&__container {
		container()
		padding 15px 0
		display flex
		align-items center
		@media $verticalTablet {
			justify-content space-between
		}
		@media $phone {
			padding 16px
		}
	}
	&__content {
		flex 1
		display flex
		justify-content space-between
		@media $verticalTablet {
			flex-wrap: wrap
			justify-content flex-end
		}
	}
	&__nav {
		display flex
		justify-content space-between
		align-items center
		@media $verticalTablet {
			margin-bottom 12px
		}
		@media $verticalPhone {
			margin-left -80px
		}
		&__item {
			margin-right 35px
			font-size 22px
			font-weight bold
			color $textColor
			border-bottom 1px solid transparent
			@media $tablet {
				margin-right 16px
				font-size 18px
			}
			@media $verticalPhone {
				font-size 12px
			}
			&:last-child {
				margin-right 0
			}
			&:hover {
				color $linkHoverColor
			}
			&_active {
				border-bottom 1px solid $textColor
				cursor default
				&:hover {
					color $textColor
				}
			}
		}
	}
	&__logo {
		margin-right 40px
		cursor pointer
		display block
		@media $phone {
			width 80px
			height auto
			margin-right 16px
		}
		width 140px
		height 53px
	}
	&__inner {
		vertical-align middle
		@media $phone {
			flex-wrap: wrap
			display flex
			justify-content flex-end
			max-width 260px
		}
	}
	&__user {
		display flex
		justify-content space-between
		&__item {
			padding 0 10px
			position relative
			&:after {
				content '|'
				position absolute
				right 0
				top 0
			}
			&:last-child {
				&:after {
					display none
				}
			}
		}
	}
	&__search {
		display inline-block
		vertical-align middle
		@media $tablet {
			// display none
		}
	}
	&__action {
		display inline-block
		vertical-align middle
		&__item {
			position relative
			display inline-block
			vertical-align middle
			margin-right 20px
			svg {
				vertical-align middle
			}
			@media $phone {
				margin-right 12px
			}
			&:last-child {
				margin-right 0
			}
		}
		&__heart {
			position absolute
			display block
			top 0
			left 0
			transform scale(0)
			transform-origin 50% 50%
			transition transform $duration
			&_active {
				transform scale(1)
			}
		}
		@media $phone{
			order: 2
		}
	}
	&__search {
		& {
			margin-right 32px
		}
	}
	&__social {
		& {
			margin-right 32px
			display inline-block
			vertical-align middle
			&:last-child {
				margin-right 0
			}
			@media $phone {
				margin-right: 8px
				order: 1
				margin-bottom 12px
			}
		}
		&__item {
			display inline-block
			vertical-align middle
			margin-right 12px
			
			@media $phone {
				margin-right 6px
			}
			&:last-child {
				margin-right 0
			}
			&:hover {
				svg {
					fill #000
					faster()
				}
			}
		}
		svg {
			vertical-align middle
			fill #676766
			transition fill $duration
		}
	}
}