@import '../../styles/common.styl'

.LogoLine {
	position relative
	background #EBECEC
	color #000
	@media $verticalTablet {
		padding-top 37px
	}
	&__login {
		display inline-flex
		cursor pointer
		align-items: center
		margin-bottom: 16px
		
		a {
			color $textColor
			margin-right 12px
			font-weight bold
			font-size 12px
			&:hover {
				color: $linkHoverColor
			}
		}
		.Icon {
			cursor pointer
			fill: $textColor
			width 14px
			&:hover {
				fill $linkHoverColor
			}
		}
		& img {
			height 20px
			margin-right 10px
		}

		@media $phone {
			display none
		}
		@media $phone {
			// order: 3
			text-align right
			margin-bottom 16px
			margin-right 8px
			// padding-left 16px
		}
	}
	&__container {
		container()
		position: relative
		padding 15px 0
		display flex
		align-items center
		@media $verticalTablet {
			justify-content space-between
		}
		@media $phone {
			padding 16px
			align-items flex-start
		}
	}
	&__content {
		flex 1
		display flex
		justify-content space-between
		@media $verticalTablet {
			flex-wrap: wrap
			justify-content flex-end
		}
		@media $phone {
			flex none
		}
	}
	&__nav {
		display flex
		justify-content space-between
		align-items center
		@media $verticalTablet {
			margin-bottom 12px
			margin-right 12px
		}
		@media $phone {
			display none
		}
		@media $verticalPhone {
			margin-left -80px
		}
		&_login {
			padding-top 36px
		}
		&__item {
			margin-right 40px
			font-size 18px
			font-weight $regular
			color $textColor
			cursor pointer
			border-bottom 1px solid transparent
			@media $notebook {
				font-size 14px
				margin-right 24px
			}
			@media $tablet {
				margin-right 14px
				font-size 16px
			}
			@media $verticalPhone {
				font-size 12px
			}
			&:last-child {
				margin-right 0
			}
			&:hover {
				color $linkHoverColor
			}
		&_active {
				border-bottom 1px solid $textColor
				cursor default
				&:hover {
					color $textColor
				}
			}
		}
	}
	&__logo {
		margin-right 40px
		cursor pointer
		display block
		width 140px
		svg {
			width 100%
			display block
			height auto
		}
		@media $tablet {
			width 120px
			margin-right 24px
		}
		@media $phone {
			width 80px
			margin-right 16px
		}
		@media $phone {
			width 100px
			margin-right 16px
			align-self: flex-start
		}
	}
	&__inner {
		vertical-align middle
		display flex
		flex-direction column
		@media $phone {
			display flex
			justify-content flex-end
			// max-width 260px
		}
	}
	&__user {
		display flex
		justify-content space-between
		&__item {
			padding 0 10px
			position relative
			&:after {
				content '|'
				position absolute
				right 0
				top 0
			}
			&:last-child {
				&:after {
					display none
				}
			}
		}
	}
	&__search {
		display inline-block
		vertical-align middle
		position relative
		width 160px
		margin-right 20px
		@media $phone {
			position relative
			margin-top 2px
			width 25px
			margin-right 12px
			height auto
			width auto
		}
		input {
			width 100%
			display block
			padding-left 22px
			padding-top 2px
			padding-bottom 2px
			border-radius: 4px
			border 1px solid $borderColor
			box-shadow: none
			box-sizing border-box
			@media $phone {
				display none
			}
		}
		.Icon {
			top 50%
			margin-top: -8px
			position absolute
			left 6px
			line-height 1
			@media $phone {
				position relative
				margin 0
				margin-top 5px
				width 25px
				height auto
			}
		}
		@media $tablet {
			// display none
		}
	}
	&__block {
		display flex
		align-items center
	}
	&__action {
		display inline-block
		vertical-align middle
		&__item {
			position relative
			display inline-block
			vertical-align middle
			margin-right 20px
			color $textColor
			svg {
				vertical-align middle
				fill $textColor
			}
			@media $phone {
				margin-right 12px
			}
			&:last-child {
				margin-right 0
			}
		}
		&__heart {
			position absolute
			display block
			top 0
			left 0
			transform scale(0)
			transform-origin 50% 50%
			transition transform $duration
			&_active {
				transform scale(1)
			}
		}
		@media $phone{
			// order: 2
		}
	}
	
	&__social {
		& {
			margin-right 32px
			display inline-block
			vertical-align middle
			&:last-child {
				margin-right 0
			}
			@media $phone {
				margin-right: 8px
				// order: 1
				margin-bottom 12px
			}
		}
		&__item {
			display inline-block
			vertical-align middle
			margin-right 12px
			
			@media $phone {
				margin-right 6px
			}
			&:last-child {
				margin-right 0
			}
			&:hover {
				svg {
					fill #000
					faster()
				}
			}
		}
		svg {
			vertical-align middle
			fill #676766
			transition fill $duration
		}
	}
	&__mobNav {
		display none
		flex 17
		text-align center
		align-self: flex-end
		@media $phone {
			display block
		}

		&__title {
			cursor pointer
			display inline-block
			font-size 16px
			display flex
			flex-direction column
			align-items center
			line-height: 1.1
			.Icon {
				height auto 
				width 20px
			}
			&_active {
				.Icon {
					transform: rotate(180deg)
				}
			}
		}
		&__container {
			display none
			position absolute
			top 100%
			left 0
			width 100%
			background #EBECEC
			padding: 16px
			z-index: 17
			justify-content: space-between
			box-sizing: border-box
			border-top 1px solid $borderColor
			border-bottom 1px solid $borderColor
			// margin-top 16px
			&_active {
				display block
				display: flex
			}
		}
		&__item {
			color $textColor
			margin-right 8px
			padding: 5px 8px
			line-height: 1
			border-radius: 4px
			background-color: rgba(0,0,0,0.1)
			&:last-child {
				margin-right 0
			}
		}
	}
	&__mobileSearch {
		display none
		position absolute
		top 0
		left 0
		width 100%
		height 100%
		background-color #EBECEC
		box-sizing: border-box
		padding 16px
		display: none
		align-items: center
		&_active {
			display flex
		}
		input {
			width 100%
			display block
			padding 6px
			border-radius: 4px
			border 1px solid $borderColor
			box-shadow: none
			box-sizing border-box
		}
		svg {
			min-width 20px
			height auto
			margin-left 8px
		}
		div {
			position relative
			width 16px
			height: 16px
			margin-left: 8px
			&:before {
				content ''
				width 16px
				height 2px
				position absolute
				top 50%
				left 0
				background $borderColor
				transform: rotate(45deg)
				transform-origin: center
			}
			&:after {
				content ''
				width 16px
				height 2px
				position absolute
				top 50%
				left 0
				background $borderColor
				transform: rotate(-45deg)
				transform-origin: center
			}
		}
	}
}