@import '../../styles/common.styl'

.Promo {
	& {
		margin-bottom 40px
		@media $phone {
			margin-bottom 0
		}
	}
	&__wrapper {
		display flex
		align-items stretch
		min-height calc(100vh - 158px)
		// min-height 75vh
	}
}