@import '../../styles/common.styl'

.Promo {
	& {
		margin-bottom 50px
		@media $phone {
			margin-bottom 0
		}
	}
	&__wrapper {
		display flex
		align-items stretch
		height 100%
		// min-height 75vh
	}
}