@import '../../styles/common.styl'

.Promo {
	& {
		margin-bottom 40px
		width 100vw
		@media $phone {
			margin-bottom 0
		}
	}
	&__container {
		position relative
		width 100%
		// overflow hidden
	}
	&__wrapper {
		position relative
		display flex
		align-items stretch
		// min-height 75vh
	}
	&__slide {
		min-height calc(100vh - 158px)
		height 100%
		display flex
	}
}