/*** --- Reset CSS --- ***/
@import 'reset.styl'
@import 'common.styl'


/*** --- Webfonts --- ***/
@font-face
	font-family Geometria
	font-style $regular
	src url(./fonts/Geometria-Light.woff)
@font-face
	font-family Geometria
	font-style normal
	font-weight $bold
	src url(./fonts/Geometria-Medium.woff)
@font-face
	font-family Geometria
	font-style normal
	font-weight $normal
	src url(./fonts/Geometria.woff)

/*** --- Document --- ***/
html,
body {
	height 100%
	width 100%
	min-width: 320px
	background $bgColor
	color $textColor
	font $regular $fontSize/$lineHeight $fontFamily
	-webkit-text-size-adjust 100%
	smooth-font()
}

.page__inner {
	// padding-bottom 100px
}
/*** --- Links --- ***/
a {
	color $linkColor
	text-decoration none
}


/*** --- Page --- ***/
.page {
	position relative
	overflow hidden
	min-width 320px
	min-height 100%
	&__inner {
		padding-bottom 40px
		background-image url('./bg.png')
		background-size contain
	}
}




/*** --- Link --- ***/
.link {
	color $linkColor
	transition color $duration
	&:hover {
		color $linkHoverColor
		faster()
		.link__icon {
			fill $linkColor
			faster()
		}
	}
	&__icon {
		transition fill $duration
	}
}
