.Cart {
    & {
        position relative
    }
    &__icon {

    }
    &__count {
        position absolute
        left 0
        bottom 3px
        width 100%
        text-align center
        color #000000
    }
}