@import '../../styles/common.styl'

.CheckBox {
	&__input {
		display none
	}
	&__input:checked + &__label {
		color $linkHoverColor
	}
	&__label {
		& {
			font-size 12px
			padding-left 18px
			position relative
		}
		&:before {
			content: ''
			position absolute
			top 50%
			margin-top -6px
			left 0
			width 12px
			height 12px
			background-color #fff
			border-radius: 3px
		}
		&:hover {
			color $linkHoverColor
		}
	}
}