@import '../../styles/common.styl'

.CheckBox {
	& {
		display block
	}
	&_error {
		display block
		.CheckBox__label {
			color: tomato
		}
	}
	&__input {
		display none
	}
	&__input:checked + &__label {
		&:after {
			opacity 1
		}
	}
	&__label {
		& {
			font-size 12px
			padding-left 18px
			position relative
			display inline-block
		}
		&:before {
			content: ''
			position absolute
			top 50%
			margin-top -6px
			left 0
			width 12px
			height 12px
			background-color #fff
			border-radius: 3px
		}
		&:after {
			content: ''
			position absolute
			top 50%
			margin-top -3px
			left 3px
			width 6px
			height 6px
			background-color #BD2D21
			border-radius: 2px
			opacity 0
		}
		&:hover {
			color $linkHoverColor
		}
		& span {
			display block
		}
	}
}