@import '../../styles/common.styl'

.CheckBox {
	& {
		display block
		margin-bottom 4px
		cursor pointer
		display block
		&:last-child {
			margin-bottom 0
		}
	}
	&_error {
		display block
		.CheckBox__label {
			color: tomato
		}
	}
	&__note {
		color #c1c1c1
		font-size 12px
	}
	&__input {
		display none
	}
	&__input:checked + &__label {
		&:after {
			opacity 1
		}
	}
	&__label {
		& {
			font-size 12px
			position relative
			display block
			width 100%
			box-sizing border-box
			cursor pointer
			padding 8px 6px
			padding-left 28px
		}
		&:before {
			content: ''
			position absolute
			top 50%
			margin-top -6px
			left 12px
			width 12px
			height 12px
			// background-color #fff
			border-radius: 3px
		}
		&:after {
			content: ''
			position absolute
			top 50%
			margin-top -3px
			left 15px
			width 6px
			height 6px
			background-color #BD2D21
			border-radius: 2px
			opacity 0
			transition color $duration, background $duration
		}
		&:hover {
			color #000
			background-color #c1c1c1
			faster()
		}
		& span {
			display block
		}
	}
	&.OrderPay__option, &.OrderDeliver__option {
		.CheckBox__label {
			transition color $duration
			padding-left 0
			&:hover {
				color $redColor
				background-color transparent
				faster()
			}
			&:after {
				margin-top -4px
				right 100%
				left auto
				margin-right 8px
			}
		}
		.CheckBox__input:checked + .CheckBox__label {
			color $redColor
		}
	}
}