@import '../../styles/common.styl'

.Product {
	clearfix()
	padding-top 50px
	padding-bottom 50px
	&__content {
		grid-width()
		margin 0 auto
	}
	@media $phone {
		padding-top 0
	}
	&__back {
		display none
		padding-left 16px
		text-transform uppercase
		font-weight bold
		@media $phone {
			display block
			padding-bottom 8px
		}
	}
}