@import '../../styles/common.styl'

.SideBar {
	& {
		grid-width(2.5)
		min-width: 230px
		float left
		box-sizing border-box
		padding-right 20px
		@media $verticalTablet {
			display none
		}
	}
	&__filter {
		& {
			margin-bottom 20px
			padding-left 30px
		}
		&__title {
			text-transform uppercase
			margin-bottom 16px
			font-size 23px
			padding-bottom 16px
			border-bottom 1px solid $borderColor
			padding-left 30px
			margin-left -30px
		}
		&__item {
			margin-bottom 20px
		}
		&__list {
			margin-bottom 10px
			&__item {
				position relative
				margin-bottom 5px
				display block
				color $textColor
				font-size 16px
				font-weight: bold
				
				&_cart {
					display none
					@media $verticalTablet {
						display block
					}
				}
			}
		}
		&__sublist {
			display none
			padding-left: 6px
			&_active {
				display block
			}
			&_sizes {
				display flex
				flex-wrap: wrap
				.SideBar__filter__sublist__item {
					width 55px
					max-width 55px
				}
			}
			&__item {
				font-size 14px
				position: relative
				color $textColor
				display: block
				padding-left: 20px
				margin-bottom: 4px
				cursor: pointer
				&:before {
					content ''
					position absolute
					top 50%
					left 0
					margin-top -8px
					width 14px
					height 14px
					box-sizing border-box
					background-color #fff
					// border 1px solid $borderColor
					border-radius: 2px
				}
				&:last-child {
					margin-bottom 0
				}
				&_active {
					// color $linkColor
					&:after {
						content: 'x'
						position absolute
						top 2px
						line-height 1
						left 3px
						font-size 14px
						color $textColor
						font-weight bold
					}
				}
			}
		}
	}
	&__button {
		margin-left -30px
	}
	&__sex {
		margin-bottom 20px
		margin-left -30px
		display flex
		&__item {
			// background-color #fff
			padding 4px 8px
			font-size 12px
			font-weight bold
			display inline-block
			color $textColor
			transition background $duration
			cursor pointer
			border-radius: 4px
			&:hover {
				background-color #c1c1c1
			}
			&_active {
				color #000
				background-color #FFF
				&:hover {
					background-color #FFF
					cursor default
					pointer-events: none
				}
			}
		}
	}
	&__stock {
		border-bottom 1px solid $textColor
		margin-bottom 16px
		padding-bottom 16px

		&__item {
			font-weight bold
			border-radius: 4px
			padding 4px 6px
			color $textColor
			display block
			margin-bottom 4px
			text-transform: uppercase
			&:last-child {
				margin-bottom 0
			}
			&_active {
				background-color #fff

			}
		}
	}
}