.UserPage {
	grid-width()
	margin 0 auto
	padding 40px 0
	&__header {
		padding-bottom 28px
		margin-bottom 48px
		border-bottom 1px solid $textColor
		display flex
		justify-content space-between
		align-items flex-end
	}
	&__user {
		&-name {
			font-size 42px
			line-height 1.1
			margin-bottom 4px
			font-weight $bold
		}
		&-info {
			font-size 18px
			span {
				margin-right 16px

				&:last-child {
					margin-right 0
				}
			}
		}
	}
	&__contacts {
		font-weight $bold
		text-align right
	}
	&__container {
		display flex
		margin-bottom 40px
	}
	&__column {
		grid-width(1, margin-right)
		flex 1
		&:last-child {
			margin-right 0
		}
	}
	&__item {
		margin-bottom 40px

		&:last-child {
			margin-bottom 0
		}
		&__title {
			font-size 22px
			font-weight bold

			.Icon {
				margin-right 16px
			}
		}
		&__text {
			
		}
	}
}
