@import '../../styles/common.styl'

.MainBlock {
	& {
		background #EBECEC
		padding-top 56px
		padding-bottom 56px
	}
	&__container {
		container()
		clearfix()
	}
	&__content {
		grid-width(9.5)
		float left
	}
}