@import '../../styles/common.styl'

.ProductForm {
	& {
		grid-width(3)
		float left
		clearfix()
		padding 20px
		background #FFF
		box-sizing border-box
	}
	&__title {
		font-size 22px
		font-weight bold
		margin-bottom 20px
	}
	&__price {
		font-size 22px
		font-weight bold
	}
}