.Screen {
	& {
		clearfix()
		padding-top 140px
		box-sizing border-box
	}
	&_fullscreen {
		padding-top 170px
		min-height 100vh
	}
	&__content {
		grid-width()
		grid-width(1, padding-left )
		margin 0 auto
	}
}