.CartContainer {
	grid-width()
	margin 0 auto
	padding 40px 0
}
.CartTable {
	& {
		width 100%
	}
	&__row {
		&:first-child {
			border-bottom 2px solid #000
			font-size 14px
		}
	}
	&__cell {
		vertical-align middle
		padding 8px
		@media $phone {
			font-size 12px
			&_size {
				display none
			}
			&_count {
				text-align center
			}
		}
		&_img {
			grid-width(1.5)
			padding 12px
			padding-bottom 0
			
			.CartTable__row:last-child & {
				padding-bottom 12px
			}
			@media $phone {
				padding 8px 16px
				max-width 60px
			}
		}
		&_name {
			font-size 18px
			font-weight bold
			line-height 1.2
			span {
				display none
				font-weight normal
			}
			@media $phone {
				font-size 14px
				span {
					display block
				}
			}
			a {
				color $textColor
			}
		}
		img {
			width 100%
			display block
		}
		button {
			cursor pointer
			background none
			border none 
			outline: none 
			border-radius: 0
			font-weight bold
			padding 6px
			@media $phone {
				display block
				width 100%
			}
		}
		&_del {
			& button {
				cursor pointer
			}
			svg {
				fill rgb(189, 45, 33);
				transition fill $duration
			}
			& button:hover svg{
				fill darken(rgb(189, 45, 33), 10%)
			}
		}
		&_count, &_price {
			@media $phone {
				display none
			}
		}
	}
}
.CartResult {
	border-top 2px solid #000
	padding-top 24px
	text-align right
	margin-bottom 24px
	@media $phone {
		padding 0 24px
		padding-top 24px
	}
	span {
		padding-right 16px
		&:last-child {
			padding-right 0
			font-weight bold
		}
	}
}
.CartButton {
	text-align right
	@media $phone {
		padding 0 24px
	}
}