@import '../../styles/common.styl'

.ProductCard {
	& {
		position relative
		padding 0 10px
		box-sizing border-box
		vertical-align top
		display inline-block
		text-align center
		color $textColor
		line-height 1
		padding-bottom 72px
		text-align: left
		width 33.33%
		padding 0 12px
		text-align left
		margin-bottom 32px
		@media $tablet {
		}
		@media $phone {
			width 50%
			margin-right 0
			float left
			box-sizing border-box
			display block
			padding 0 4px 32px
			margin-bottom 32px
			.ProductCard__overlay {
				opacity 1
				pointer-events initial
				bottom 0
				background-color transparent
				box-shadow none
				align-items flex-start
			}
			.ProductCard__overlay__button {
				margin 0
			}
		}
		&:hover {
			z-index 9
			.ProductCard__overlay {
				opacity 1
				pointer-events initial
			}
		}

		&_sm {
			width 25%
			@media $phone {
				width 50%
			}
			.ProductCard__content {
			}
			.ProductCard__shadow {
			}
			.ProductCard__name {
				
			}
			.ProductCard__description {
			}
			.ProductCard__price {
				

			}
		}

	}
	img {
		width 100%
		display block
	}
	&__content {
		display flex
		justify-content space-between
		position relative
		z-index 9
		width 100%
		padding 0 12px
		box-sizing border-box
		@media $notebook {
			// top 236px
		}
		@media $tablet {
		}
		@media $phone {
			padding 0 4px
		}
		@media $verticalPhone {
		}
	}
	&__inner {
		color $textColor
	}
	&__description {
		display block
		margin-bottom 16px
		padding-right 20px
		font-size 12px
		&:last-child {
			margin-bottom 0
		}
		@media $phone {
			margin-bottom 8px
		}
	}
	&__name {
		display block
		margin-bottom 5px
		font-size 14px
		font-weight bold
		padding-right 8px
		@media $phone {
			font-size 12px
			margin-bottom 2px
		}
		&:last-child {
			margin-bottom 0
		}
		@media $tablet {
			// font-size 18px
		}
		@media $phone {
			font-size 13px
		}
	}
	&__price {
		display block
		margin-bottom 5px
		font-size 12px
		@media $phone {
			font-size 10px
		}
		& span {
			display block
			margin-bottom 4px
			text-align right
			font-size 18px
			font-weight bold
			@media $phone {
				font-size 12px
			}
		}
		& span:nth-child(2) {
			font-size 14px
			margin-bottom 0
			position relative
			&:before {
				content ''
				position absolute
				bottom 50%
				left 0
				width 100%
				height 1px
				background-color #000000
			}
			@media $phone {
				font-size 10px
			}
		}
		&:last-child {
			margin-bottom 0
		}
	}
	&__image {
		position relative
		z-index 2
		background-color #C3C3C3
		width auto
		display flex
		justify-content flex-end
		flex-direction column
		box-sizing border-box
		margin-bottom 16px
		&:before {
			content ''
			padding-bottom 100%
			background-color #fff
			z-index -1
		}
		img {
			display block
		}
		svg {
			display block
		}
		img {
			max-width 100%
			position absolute
			top 0
			left 0
			width 100%
		}
		@media $phone {
		}
	}
	&__shadow {
		position absolute
		bottom 0
		left 0
		width 100%
		height auto
		height 6px
		background-size: 120%
		background-position center
		background-image: url(/images/shadow.svg)
		bottom 16px
	}
	&__shadowline {
		width 80%
		height: 40px;
		position: absolute;
		z-index: 0;
		bottom: 0px;
		left: 50%;
		background: rgba(20, 20, 20, .2);
		box-shadow: 0px 0 15px 30px rgba(20,20,20,.25);
		border-radius: 50%;
		transform-origin: center
		transform: translateX(-50%)
	}
	&__overlay {
		position absolute
		top -8px
		left 0
		right 0
		background #ffffff
		bottom -85px
		z-index 1
		display flex
		flex-direction column
		justify-content flex-end
		opacity: 0
		pointer-events: none
		box-shadow: 0 2px 6px rgba(0,0,0,0.1)
		border-radius 4px
		&__button {
			border 1px solid $textColor
			border-radius: 6px
			font-size: 12px
			display: flex
			align-items: center
			padding: 3px 4px
			cursor: pointer
			background-color transparent
			transition background $duration
			align-self flex-start
			span {
				margin-right 4px
			}
			.Icon {
				width 16px
				height 14px
				fill $textColor
				transition fill
			}
			&:hover, &_active {
				background-color $orangeColor
				faster()

				.Icon {
					fill red
					faster()
				}
			}
		}
		&__content {
			display flex
			flex-direction column
			border-top 1px solid rgba(0,0,0,0.2)
			justify-content space-between
			padding 0 12px
			padding-top 12px
			padding-bottom 8px
		}
		&__sizes {
			font-size 12px
			display flex
			margin-right 8px
			margin-bottom 4px
			&__label {
				font-weight $bold
				margin-right 8px	
			}
			&__inner {
				display flex
				flex-wrap wrap
				span {
					margin-right 4px
					white-space nowrap
					margin-bottom 4px
					&:after {
						content ','
					}
					&:last-child {
						margin-right 0
						&:after {
							content ''
						}
					}
				}
			}
		}
	}
}