@import '../../styles/common.styl'

.ProductCard {
	& {
		position relative
		grid-width(3)
		padding 0 10px
		box-sizing border-box
		vertical-align top
		display inline-block
		text-align center
		color $textColor
		line-height 1
		padding-bottom 72px
		text-align: left

		&:hover {
			z-index 9
			.ProductCard__overlay {
				opacity 1
				pointer-events initial
			}
		}
		@media $phone {
			width 50%
			float left
			padding 0 4px
		}

		&_sm {
			width 33.33%
			padding 0 12px
			text-align left
			padding-bottom 10%
			@media $notebook {
				// padding-bottom 50px
			}
			@media $tablet {
				padding-bottom 10%
			}
			@media $phone {
				width 50%
				margin-right 0
				float left
				box-sizing border-box
				display block
				padding 0 4px
				padding-bottom 15%
			}
			@media $verticalPhone {
				padding-bottom 22%
			}
			.ProductCard__image {
				background-color #C3C3C3
				width auto
				display flex
				justify-content flex-end
				flex-direction column
				box-sizing border-box
				img {
					display block
				}
				svg {
					display block
				}
			}
			.ProductCard__shadow {
				bottom 16px
			}
			.ProductCard__name {
				font-size 14px
				font-weight bold
				padding-right 8px
				@media $phone {
					font-size 12px
					margin-bottom 2px
				}
			}
			.ProductCard__description {
				font-size 12px
			}
			.ProductCard__price {
				font-size 12px
				@media $phone {
					font-size 10px
				}
				& span {
					display block
					margin-bottom 4px
					text-align right
					font-size 18px
					font-weight bold
					@media $phone {
						font-size 12px
					}
				}
				& span:nth-child(2) {
					font-size 14px
					margin-bottom 0
					position relative
					&:before {
						content ''
						position absolute
						bottom 50%
						left 0
						width 100%
						height 1px
						background-color #000000
					}
					@media $phone {
						font-size 10px
					}
				}

			}
		}
		&:last-child {
			margin-bottom 0
		}
	}
	img {
		width 100%
		display block
	}
	&__content {
		display flex
		justify-content space-between
		position absolute
		top 80%
		left 0
		width 100%
		padding 0 12px
		box-sizing border-box
		z-index 2
		@media $notebook {
			// top 236px
		}
		@media $tablet {
			top 78%
		}
		@media $phone {
			top 78%
			padding 0 4px
		}
		@media $verticalPhone {
			top 71%
		}
	}
	&__inner {
		color $textColor
	}
	&__description {
		display block
		margin-bottom 16px
		font-size 20px
		padding-right 20px
		&:last-child {
			margin-bottom 0
		}
		@media $phone {
			margin-bottom 8px
		}
	}
	&__name {
		display block
		margin-bottom 5px
		font-weight bold
		font-size 30px
		&:last-child {
			margin-bottom 0
		}
		@media $tablet {
			font-size 18px
		}
		@media $phone {
			font-size 13px
		}
	}
	&__price {
		display block
		margin-bottom 5px
		font-size 40px
		&:last-child {
			margin-bottom 0
		}
		@media $tablet {
			font-size 20px
		}
	}
	&__image {
		position relative
		z-index 2
		img {
			max-width 100%
		}
		@media $phone {
		}
	}
	&__shadow {
		position absolute
		bottom 0
		left 0
		width 100%
		height auto
		height 6px
		background-size: 120%
		background-position center
		background-image: url(/images/shadow.svg)
	}
	&__shadowline {
		width 80%
		height: 40px;
		position: absolute;
		z-index: 0;
		bottom: 0px;
		left: 50%;
		background: rgba(20, 20, 20, .2);
		box-shadow: 0px 0 15px 30px rgba(20,20,20,.25);
		border-radius: 50%;
		transform-origin: center
		transform: translateX(-50%)
	}
	&__overlay {
		position absolute
		top -8px
		left 0
		right 0
		background #ffffff
		bottom -10px
		z-index 1
		display flex
		flex-direction column
		align-items flex-end
		justify-content flex-end
		opacity: 0
		pointer-events: none
		box-shadow: 0 2px 6px rgba(0,0,0,0.1)
		border-radius 4px
		&__button {
			border 1px solid $textColor
			border-radius: 6px
			font-size: 12px
			display: flex
			align-items: center
			padding: 3px 4px
			margin-bottom 8px
			margin-right 8px
			cursor: pointer
			transition background $duration
			span {
				margin-right 4px
			}
			.Icon {
				width 16px
				height 14px
				fill $textColor
				transition fill
			}
			&:hover, &_active {
				background-color $orangeColor
				faster()

				.Icon {
					fill red
					faster()
				}
			}
		}
	}
}